$primary-normal: rgb(100 7 64);
$primary-darker: rgb(77 5 49);
$primary-lighter: rgb(115 8 74);

$black-normal: #232224;
$black-darker: #161617;
$black-lighter: #353436;

$white-normal: #fff;
$white-darker: #edeaef;
$white-lighter: #fefbff;

$blue-normal: #18848c;
$blue-darker: #115f63;
$blue-lighter: #04a6b0;
